{% extends "_layout.html" %}

{% block content %}

<style>
    .concert-background { 
          background: url(https://s3.amazonaws.com/sparestub-staging/static_root/sparestub/backgrounds/concert-optimized.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }
    .full { padding-bottom: 500px; height: 100% }
</style>

<div id="introduction" class="concert-background full">
    <div class="container">
        <div class="row text-center">
            <h3 id="top-intro1" class="col-xs-12 title top-intro">Buyers and sellers attend events together</h3>
            <h3 id="top-intro2" class="col-xs-12 title top-intro">It's ticket resale... but better</h3>

            <div id="buffer" class="col-xs-12"></div>
            <div id="learn-more" class="col-xs-12 center-block">
                <div>
                    <h2>Coming Soon</h2><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
